body {
    margin: 0;
    height: 100vh;
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

main {
    width: 1000px;
    margin-top: -30px;
}


.header-rating {
    display: flex;
    justify-content: space-between;
}

.heading {
    width: 360px;
}

h1 {
    font-weight: 800;
    color: hsl(300, 43%, 22%);
    font-size: 2.5rem;
    line-height: 40px;
}

.heading-des {
    font-size: 14px;
    color: hsl(303, 10%, 53%);
}

.stars1, .stars2, .stars3 {
    display: flex;
    background-color: hsl(300, 32%, 92%);
    margin: 15px 0;
    padding: 15px 25px;
    font-size: 13px;
    color: hsl(300, 43%, 22%);
    font-weight: 800;
    border-radius: 0.5rem;
    position: relative;
}

.rating img {
    width: 14px;
    height: 14px;
    padding: 4px;
}

.rate {
    padding-left: 20px;
}

.stars1 {
    right: 68px;
    margin-top: 45px;
}

.stars2 {
    right: 34px;
}

.people-rating {
    display: flex;
    margin-top: 50px;
}

.rating1, .rating2, .rating3 {
    background-color: hsl(300, 43%, 22%);
    margin: 0px 25px 0px 0px;
    padding: 30px;
    border-radius: 0.5rem;
    position: relative;
}

.rating2 {
    top: 15px;
}

.rating3 {
    margin-right: 0px;
    top: 30px;
}

.image {
    display: flex;
}

.image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
    letter-spacing: 0.7px;
}

.verified {
    color: hsl(333, 80%, 67%);
    font-size: 13px;
    margin-left: 20px;
    margin-top: -8px;
}

.description {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}

@media only screen and (max-width:480px){
    body {
        display: block;
    }

    main {
        width: 380px;
        margin: 40px 25px;
    }

    h1 {
        text-align: center;
    }

    .heading-des {
        text-align: center;
    }

    .stars1, .stars2, .stars3, .rating1, .rating2, .rating3 {
        width: 300px;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
    }

   .header-rating, .stars1, .stars2, .stars3, .people-rating, .image {
        display: block;
   }
}